body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.md-datepicker-calendar-pane{
  z-index: 1200
}

.md-datepicker-button {
  float: left;
}
