<div class="modal" id="loginModal" role="dialog" ng-controller="Login">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body Auth-modal">

                <back></back>
                <button ng-click="closeModal()" id="backButton" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <md-content layout-padding="">
                    <div>
                        <form name="loginForm">

                            <div ng-show="IsVisible" class="alert alert-danger">
                                <strong>Failed to Login!</strong> Username or Password is incorrect
                            </div>
                            <br>
                            <!-- If you choose Email ID, Uncomment the below block -->
                            <!-- <md-input-container class="md-block">
                            <label>Email</label>
                            <input required type="email" name="username" ng-model="user.username" minlength="4" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                    
                            <div ng-messages="loginForm.username.$error" role="alert">
                              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                It doesn't look like an e-mail address.
                              </div>
                            </div>
                            </md-input-container> -->


                            <!-- Choose either Email or Username (Comment and unncomment either the above and lower blocks) -->


                            <!-- If you choose username, Uncomment the below block -->
                            <!-- ng-pattern for Username can only have a-z A-Z - _ 0-9 -->
                            <md-input-container class="md-block">
                                <label>Username</label>
                                <input required name="username" ng-model="user.username" minlength="4" maxlength="100" ng-pattern="/^[A-Za-z0-9]+(?:[_-][A-Za-z0-9]+)*$/">

                                <div ng-messages="loginForm.username.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                        Something suspicious about your username
                                    </div>
                                </div>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Password</label>
                                <input name="password" type="password" name="password" ng-model="user.password" required />
                                <div ng-messages="loginForm.password.$error" role="alert">
                                    <div ng-message="required">Password is required </div>
                                </div>
                            </md-input-container>

                            <md-button class="md-raised md-primary" ng-disabled="!(!!user.username && !!user.password)" ng-click="loginClick()">Login</md-button>
                        </form>
                    </div>
                </md-content>

            </div>

        </div>

    </div>
</div>

<script>
    $("#loginModal").modal();

    $("#loginModal").on("hidden.bs.modal", function () {
        $("#backButton").click()
    });

</script>