<div class="modal" id="registerModal" role="dialog" ng-controller="Register">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body Auth-modal">

                <back></back>
                <button ng-click="closeModal()" id="backButton" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <md-content layout-padding="">
                    <div>
                        <form name="registerForm">

                            <div ng-show="IsVisible_Register" class="alert alert-danger">
                                <strong>Failed to Register!</strong> Username/Email already taken
                            </div>
                            <br>
                            <!-- Uncomment the username block to include into register form -->
                            <!-- ng-pattern for Username can only have a-z A-Z - _ 0-9 -->
                            <md-input-container class="md-block">
                                <label>Username</label>
                                <input name="username" ng-model="user.username" minlength="4" maxlength="100" ng-pattern="/^[A-Za-z0-9]+(?:[_-][A-Za-z0-9]+)*$/">

                                <div ng-messages="registerForm.username.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                        Something suspicious about your username
                                    </div>
                                </div>
                            </md-input-container>

                            <!-- Uncomment the Email block to include into register form -->
                            <!--If you're including only Email as your username, change name="username" ng-model="user.username"and ng-messages="registerForm.username.$error" -->
                            <!-- <md-input-container class="md-block">
                            <label>Email</label>
                            <input  type="email" name="email" ng-model="user.email" minlength="4" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                    
                            <div ng-messages="registerForm.email.$error" role="alert">
                              <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                It doesn't look like an e-mail address.
                              </div>
                            </div>
                            </md-input-container> -->

                            <!-- Password block -->
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Password</label>
                                <input name="password" type="password" name="password" ng-model="user.password" />
                                <div ng-messages="registerForm.password.$error" role="alert">
                                    <div ng-message="required">Password is required </div>
                                </div>
                            </md-input-container>

                            <!-- Confirm password block -->
                            <md-input-container class="md-block">
                                <label>Confirm Password</label>
                                <input type="password" name="confirm_password" ng-model="user.confirm_password" compare-to="user.password" />
                                <div ng-messages="registerForm.confirm_password.$error" role="alert" class="form-errors first-name-error">
                                    <div ng-message="required">Password is required.</div>
                                    <div ng-message="compareTo">Passwords are not matching</div>
                                </div>
                            </md-input-container>

                            <!-- Date of birth block -->
                            <md-input-container>
                                <label>Date of Birth</label>
                                <md-datepicker type="date" name="DOB" ng-model="user.dob"></md-datepicker>
                            </md-input-container>

                            <br>
                            <md-button class="md-raised md-primary" style="float:right" ng-disabled="!(!!user.username && !!user.password && user.confirm_password)"
                                ng-click="registerClick()">Register</md-button>
                        </form>
                    </div>
                </md-content>



            </div>

        </div>

    </div>
</div>

<script>
    $("#registerModal").modal();

    $("#registerModal").on("hidden.bs.modal", function () {
        $("#backButton").click()
    });

</script>